.ft30{
	font-size: .3rem
}
.ft42{
	font-size: .42rem
}
.mb40{
	margin-bottom: .4rem
}
.color_33{
	color: #333;
}
.font_bold{
	font-weight: bold;;
}
.h_100{
	height: 100%
}
.text_left{
	text-align: left;
}
.text_right{
	text-align: right;
}
.text_center{
	text-align: center;
}
.bor_border{
	box-sizing: border-box;
}
.ft22{
	font-size: .22rem
}
.pr20{
	padding-right: .2rem
}
.overflow{
	overflow: hidden;
}
.mb25{
	margin-bottom: .25rem
}
.w690{
	width: 6.9rem  
}
.ml30{
	margin-left: .3rem;
}
.mt15{
	margin-bottom: .15rem
}
.ft24{
	font-size: .24rem
}
.h85{
	height: .85rem
}



/* flex */
.flex {
  display: flex; }

.flex_align {
  display: flex;
  align-items: center; }

.flex_right_align {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.flex_juc {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex_wrab {
  display: flex;
  flex-flow: wrap; }

.flex_wrab_center {
  display: flex;
  flex-flow: wrap;
  align-items: center; }

.flex_jub_wrab {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap; }

.jub_jub_center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.jub_jub {
  display: flex;
  justify-content: space-between; }

.jub_jub_end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.juv_colum {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.juc_colum {
  display: flex;
  align-items: center;
  flex-direction: column; }

.jus_column {
  display: flex;
  flex-direction: column; }
.pt200{
  padding-top: 200rpx
}
.juc_colum_b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.juc_colum_center {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.both:after{
  content:"";
  display: block;
  clear: both;
}
.left{
  float: left;
}
.text_clamp1 {
 word-break: break-all;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
overflow: hidden; }

.text_clamp2 {
  word-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }
